<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/eh-swagger-repository.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} {%4.4t} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>
    <logger name="com.eharmony">
        <level value="INFO" />
    </logger>
    <root>
        <level value="ERROR" />
        <appender-ref ref="FILE" />
    </root>
</log4j:configuration>
